<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="product != null">
      <div>

      </div>
      <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- <mr-product-carousel [title]="product.title" [primaryImage]="product.Images.PrimaryImage" [alternateImages]="product.Images.AlternateImages"></mr-product-carousel> -->
                <mr-product-carousel [title]="product.title" [images]="product.Images"></mr-product-carousel>
                <mr-product-reviews></mr-product-reviews>
              </div>
              <div class="col-6">
                Product Price Placeholder
                <mr-product-promotions></mr-product-promotions>
                <mr-product-cart></mr-product-cart>
                <mr-product-highlights [highlights]="product.ItemDescription"></mr-product-highlights>
            </div>
        </div>
      </div>
  </div>
</div>