<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Product Name Placeholder</h5>
      <div class="container">
        <div class="row">
            <div class="col-6">
                <mr-product-carousel></mr-product-carousel>
                <mr-product-reviews></mr-product-reviews>
              </div>
              <div class="col-6">
                Product Price Placeholder
                <mr-product-promotions></mr-product-promotions>
                <mr-product-cart></mr-product-cart>
                <mr-product-highlights></mr-product-highlights>
            </div>
        </div>
      </div>
  </div>
</div>